{% extends 'admin/mail/master.html.twig' %}

{% block content %}
    <p>
        You was added to Form Builder System, please set your password
    </p>
    <p>
        <a href="{{ link }}">
            Set your password and login to system
        </a>
    </p>
{% endblock %}

